<div class="user-list-wrapper background-color">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <%= render :partial => 'users/profile' %>
      </div>
      
      <div class="col-md-7">
        <div class="list-container white">
          <h2 class="text center"><%= @join_community.community.title %></h2>
          <div class="user-container">
            <% @join_communities. each do |community| %>
              <div class="users inline">
                <%= link_to user_path(:id => community.user.id), class: 'font-link' do %>
                  <% if community.user.image.present? %>
                    <%= image_tag community.user.image.url, class: 'user-image center' %>
                  <% else %>
                    <%= image_tag 'man.png', class: 'user-image center' %>
                  <% end %> 
                  <p class="user-name center font-gray"><%= community.user.name %></p>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
     
      <div class="col-md-3">
        <div class="show-container-right white">
          <%= render :partial => 'communities/admin', :locals => { community: @join_community.community } %>
        </div>
      </div>

    </div>
  </div>
</div>