<div class="user-new-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <div class="new-container background-color">
          <h2 class="text center">ログイン</h2>
          <div class="new-form">
            <%= form_for :session, url: login_path do |f| %>
              <div class="form-group">
                <%= f.label :email, class: 'btn-text' %>
                <%= f.text_field :email, class: 'form-control' %> 
              </div>
              <div class="form-group">
                <%= f.label :password, class: 'btn-text' %>
                <%= f.password_field :password, class: 'form-control' %>
              </div>
              <%= f.submit "ログイン", class: 'btn-block' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
