<div class="user-edit-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <div class="edit-container background-color">
          <h2 class="text center">プロフィール編集</h2>
            <%= form_for @user do |f| %>
              <div class="form-container">
                <div class="form-group">
                  <%= f.label :image %>
                  <%= f.file_field :image %>
                </div>
                <div class="form-group">
                  <%= f.label :name, class: 'btn-text' %>
                  <%= f.text_field :name, class: 'form-control' %>
                </div>
                <div class="form-group">
                  <%= f.label :gender, class: 'btn-text' %>
                  <%= f.select :gender, [["男性", "男性"], ["女性", "女性"]], class: 'form-control selectpicker' %>
                </div>
                <div class="form-group">
                  <%= f.label :age, class: 'btn-text' %>
                  <%= f.number_field :age, min: 10, max: 100, class: 'form-control' %>
                </div>
                <div class="form-group">
                  <%= f.label :birthplace, class: 'btn-text' %>
                  <%= f.select :prefecture, User.prefectures.keys, { }, class: 'form-control' %>
                </div>
                <div class="form-group">
                  <%= f.label :description, class: 'btn-text' %>
                  <%= f.text_area :description, placeholder: '300字以内', rows: 7, class: 'form-control' %>
                </div>
                <div class="form-group">
                 <%= f.label :artist, class: 'btn-text' %>
                 <%= f.text_area :artist, placeholder: '300字以内', rows: 7, class: 'form-control' %>
                </div>
                <div class="form-group">
                  <%= f.label :password, class: 'btn-text' %>
                  <%= f.password_field :password, class: 'form-control' %>
                </div>
                <%= f.submit "編集", class: 'btn-block btn btn-default' %>
              </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>