<div class="follow-list-wrapper background-color">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <%= render :partial => 'users/profile' %>
      </div>
      
      <div class="col-md-offset-1 col-md-6">
        <div class="follow-container white">
          <h2 class="text center"><%= @user.name %></h2>
          <div class="follow-btn center" >
            <p class="follow-member font-green btn">フォロー</p>
            <%= link_to "フォロワー", { controller: 'users', action: 'follower_list', user_id: @user.id}, class: 'follow-member font-black btn font-gray', method: :get %>
          </div>
          <div class="follow-user-container">
            <% if @user.all_following.present? %>
              <% @user.all_following.each do |user| %>
                <div class="follow-users center">
                  <%= link_to user_path(:id => user.id), class: 'follow-link' do %>
                    <% if user.image.present? %>
                      <%= image_tag user.image.url, class: 'user-image center' %>
                    <% else %>
                      <%= image_tag 'man.png', class: 'user-image center' %>
                    <% end %> 
                    <p class="user-name center font-gray"><%= user.name %></p>
                  <% end %>
                </div>
              <% end %>
            <% else %>
              <h4 class="no-follow center">フォローしている人はいません</h4>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>





