<div class="user-show-wrapper background-color">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <div class="show-container white">
          <h2 class="text-80 center"><%= @user.name %></h2>
          
          <div class="self-introduction">
            <div class="center">
              <% if @user.image.present? %>
                <%= image_tag @user.image.url, class: 'image' %>
              <% else %>
                <%= image_tag 'man.png', class: 'image' %>
              <% end %>  
            </div>
            
            <div class="follow-container center">
              <%= link_to "フォロー", { controller: 'users', action: 'follow_list', user_id: @user.id }, class: 'follow-member' %>
              <%= @user.follow_count %>
              <%= link_to "フォロワー", { controller: 'users', action: 'follower_list', user_id: @user.id}, class: 'follow-member' %>
              <%= @user.followers_count %>
            </div>
            <div class="follow center">
              <% if current_user.id == @user.id %>
                <%= link_to "編集", edit_user_path(current_user.id), class: 'edit-btn btn-hover btn btn-default' %>
              <% else %>
                <% if current_user.following? @user %>
                  <%= link_to "フォロー中", { controller: 'users', action: 'unfollow', user_id: @user.id }, class: 'follow-message btn-hover btn btn-info', method: :put %>
                  <%= render :partial => 'users/message' %>
                <% else %>
                  <%= link_to "フォローする", { controller: 'users', action: 'follow', user_id: @user.id }, class: 'follow-message btn-hover btn btn-default', method: :put %>
                  <%= render :partial => 'users/message' %>
                <% end %>
              <% end %>
            </div>
              
            <div class='item-container'>
              <div class="one-row">
                <div class="item">
                  <p class="birthplace mini-font"><%= @user.prefecture %></p>
                </div>
                <div class="item">
                  <p class="age mini-font"><%= @user.age %>歳</p>
                </div>
              </div>
              
              <div class="item item-border">
                <p class="description font">自己紹介</p>
                <p class="new-line"><%= @user.description %></p>
              </div>
              
              <div class="item item-border">
                <p class="artist font">好きなアーティスト</p>
                <p class="new-line"><%= @user.artist %></p>
              </div>
              
              <div class="item item-border">
                <p class="artist font">主催グループ</p>
                <% @user.communities. each do |community| %>
                  <%= link_to community_path(:id => community.id), class: 'font-gray' do %>
                    ・<%= community.title %>
                  <% end %>
                  <br>
                <% end %>
              </div>
              
              <div class="item item-border">
                <p class="community font">参加グループ</p>
                <% @user.join_communities. each do |community| %>
                  <%= link_to community_path(:id => community.community_id), class: 'community-name font-gray' do %>
                    ・<%= community.community.title %>
                  <% end %>
                  <br>
                <% end %>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>