<div class="user-show-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <div class="show-container background-color">
          <h2 class="text center"><%= @user.name %></h2>
          
          <div class="self-introduction">
            <div class="item center">
              <%= image_tag @user.image.url, class: 'image' %>
            </div>
            
            <div class="follow-container center">
              <%= link_to "フォロー", { controller: 'users', action: 'follow_list', user_id: @user.id }, class: 'follow-member font-black', method: :get %>
              <%= @user.follow_count %>
              <%= link_to "フォロワー", { controller: 'users', action: 'follower_list', user_id: @user.id}, class: 'follow-member font-black', method: :get %>
              <%= @user.followers_count %>
            </div>
            <div class="follow center">
              <% if current_user.id == @user.id %>
                <%= link_to "編集", edit_user_path(current_user.id), class: 'edit-btn btn btn-default' %>
              <% else %>
                <% if current_user.following? @user %>
                  <%= link_to "フォロー中", { controller: 'users', action: 'unfollow', user_id: @user.id }, class: 'follow-message btn btn-default', method: :put %>
                  <%= link_to "メッセージ", room_path(@user.id), class: 'follow-message btn btn-default' %>
                <% else %>
                  <%= link_to "フォローする", { controller: 'users', action: 'follow', user_id: @user.id }, class: 'follow-message btn btn-default', method: :put %>
                  <%= link_to "メッセージ", room_path(@user.id), class: 'follow-message btn btn-default' %>
                <% end %>
              <% end %>
            </div>
 
              
            <div class='item-container'>
              <div class="one-row">
                <div class="item">
                  <p class="birthplace mini-font"><%= @user.birthplace %></p>
                </div>
                <div class="item">
                  <p class="age mini-font"><%= @user.age %>歳</p>
                </div>
              </div>
              
              <div class="item item-border">
                <p class="description font">自己紹介</p>
                <%= @user.description %>
              </div>
              
              <div class="item item-border">
                <p class="artist font">好きなアーティスト</p>
                <%= @user.artist %>
              </div>
              
              <div class="item item-border">
                <p class="artist font">主催コミュニティ</p>
                <% @user.communities. each do |community| %>
                  <%= link_to community_path(:id => community.id), class: 'community-name font-black' do %>
                    <%= community.title %>
                  <% end %>
                <% end %>
              </div>
              
              <div class="item item-border">
                <p class="community font">参加コミュニティ</p>
                <% @user.join_communities. each do |community| %>
                  <%= link_to community_path(:id => community.community_id), class: 'community-name font-black' do %>
                    <%= community.community.title %>
                  <% end %>
                <% end %>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>