<div class="room-show-wrapper background-color">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <%= render :partial => 'users/profile' %>
      </div>

      <div class="col-md-8">
        <div class="show-container white">
          <%= link_to user_path(:id => @entryuser.user.id), class: 'user-name' do %>
            <h2 class="text center font-black"><%= @entryuser.user.name %></h2>
          <% end %>
          <div class="chat content-container">
            <% if @messages.present? %>
              <% @messages.each do |m| %>
                <div class="chat-box">
                  <div class="chat-face post-screen">
                    <%= link_to user_path(:id => m.user.id), class: 'link-user' do %>
                      <%= image_tag m.user.image.url, class: 'user-image' %>
                    <% end %>
                    <div class="inline user-content">
                      <%= link_to user_path(:id => m.user.id), class: 'font-gray user-name' do %>
                        <%= m.user.name %>
                      <% end %>
                      <p class="content new-line"><%= m.content %></p>
                      <%= l m.created_at %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% else %>
              <h4 class="no-message center">メッセージはありません</h4>
            <% end %>
          </div>
          
            <div class="post">
              <%= form_for @message do |f| %>
                <div class="post-form center">
                  <%= f.text_field :content, placeholder: 'メッセージを入れてください', rows: 10, class: "form-text-field" %>
                  <%= f.hidden_field :room_id, value: @room.id %>
                  <%= f.submit "送信", class: 'form-submit btn btn-default' %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
     
    </div>
  </div>
</div>
