<div class="admin-container">
  <div class="show-image-container center">
    <% if community.image.present? %>
      <%= image_tag community.image.url, class: 'show-image' %>
    <% else %>
      <%= image_tag 'livehouse.jpg', class: 'show-image' %>
    <% end %>
  </div>
  <div class="community-description">
    <div class="center">
      <p class="owner">管理者：</p>
       <%= link_to user_path(:id => community.user.id), class: 'owner font-gray' do %>
         <%= community.user.name %>
       <% end %>
    </div>
      <p class="title">説明</p>
      <p class="new-line"><%= community.description %></p>
  </div>
</div>