<div class="community-edit-wrapper background-color">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <%= render :partial => 'users/profile' %>
      </div>
      
      <div class="col-md-8">
        <div class="new-container white">
          <h2 class="text center">グループ編集</h2>
          <div class="new-form">
            <div class="form-group">
              <div class='center'>
                <% if @community.image.present? %>
                  <%= image_tag community.image.url, class: 'community-image' %>
                <% else %>
                  <%= image_tag 'livehouse.jpg', class: 'community-image' %>
                <% end %>
              </div>
            </div>
            <%= form_for @community do |f| %>
              <%= render 'layouts/error_messages', model: f.object %>
              <div class="form-group">
                <%= f.label :title, class: 'btn-text' %>
                <%= f.text_field :title, class: 'form-control' %> 
              </div>
              <div class="form-group">
                <%= f.label :description, class: 'btn-text' %>
                <%= f.text_area :description, rows: 10,class: 'form-control' %>
              </div>
              
              <%= f.submit "編集", class: 'btn-block btn btn-default' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>