<div class="community-index-wrapper background-color">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <%= render :partial => 'users/profile' %>
      </div>
     
      <div class="col-md-8">
        <div class="index-container white">
          <h2 class="text-80 center">グループ一覧</h2>
          <div class="search-container input-group">
            <%= search_form_for @q do |f| %>
              <%= f.text_field :title_cont, placeholder: 'キーワードを入力', class: 'search' %>
              <%= f.submit "検索", class: 'btn-hover btn btn-default' %>
            <% end %>
          </div>
          <div class="community-new">
            <%= link_to "グループ作成", new_community_path, class: 'new-btn btn btn-default btn-hover' %>
          </div>
          <div class="communities">
            <% @communities. each do |community| %>
              <div class="index">
                <% if community.image.present? %>
                  <%= image_tag community.image.url, class: 'index-image' %>
                <% else %>
                  <%= image_tag 'livehouse.jpg', class: 'index-image' %>
                <% end %>
                <div class="title-description new-line inline">
                  <p class="index-title"><%= community.title %></p>
                  <p class="member-count inline">参加メンバー</p>
                  <p class="join-member-count"><%= community.join_communities.count %>人</p>
                </div>
                <%= link_to "詳細", community_path(community.id) ,class: 'community-btn btn btn-default btn-hover' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
     
      <div class="col-md-2">
      </div>
    
  </div>
</div>