<div class="community-new-wrapper background-color">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <%= render :partial => 'users/profile' %>
      </div>
      <div class="col-md-8">
        <div class="new-container white">
          <h2 class="text center">グループ作成</h2>
          <div class="new-form">
            <%= form_for @community do |f| %>
              <%= render 'layouts/error_messages', model: f.object %>
              <div class="form-group center">
                <% if @community.image? %>
                  <%= image_tag @community.image.url, class: 'community-image', id: :img_prev %>
                <% else %>
                  <%= image_tag "livehouse.jpg", class: 'community-image', id: :img_prev %>
                <% end %>
              </div>
              <div class='center'>
                <label>
                  <p class='image-btn'>画像を選択</p>
                  <%= f.file_field :image, class: 'image-form', id: :user_img %>
                </label>
              </div>
              <div class="form-group">
                <%= f.label :title, class: 'btn-text' %>
                <%= f.text_field :title, class: 'form-control' %> 
              </div>
              <div class="form-group">
                <%= f.label :description, class: 'btn-text' %>
                <%= f.text_area :description, placeholder: "300字以内" , rows: 10, class: 'form-control' %>
              </div>
              
              <%= f.submit "作成", class: 'btn-hover btn btn-block btn-default' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
