<div class="community-show-wrapper background-color">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <%= render :partial => 'users/profile' %>
      </div>

      <div class="col-md-7">
        <div class="show-container white">
          <h2 class="text-title center new-line"><%= @community.title %></h2>
          <div class="post center">
            <%= form_for @post,:url => {controller: "posts", action: "create" } do |f| %>
              <%= render 'layouts/error_messages', model: f.object %>
              <%= f.text_field :content, placeholder: 'メッセージを入れてください', class: 'form-text-field' %>
              <%= f.hidden_field :user_id, :value => current_user.id %>
              <%= f.hidden_field :community_id, :value => @community.id %>
              <%= f.submit '投稿', class: 'btn-hover btn btn-default' %>
            <% end %>
          </div>
          <div class="content-container">
            <% if @community.posts.present? %>
              <% @community.posts. each do |post| %>
                <div class="post-screen bottom-border">
                  <%= link_to user_path(:id => post.user_id) do %>
                    <%= image_tag post.user.image.url, class: "user-image" %>
                  <% end %>
                  <div class="user-content inline">
                    <%= link_to user_path(:id => post.user_id), class: 'user-name font-gray' do %>
                      <%= post.user.name %>
                    <% end %>
                    <p class="content new-line"><%= post.content %></p>
                    <%= l post.created_at %>
                  </div>
                </div>
              <% end %>
            <% else %>
              <h4 class="no-message center">メッセージはありません</h4>
            <% end %>
          </div>
        </div>
      </div>
     
      <div class="col-md-3">
        <div class="show-container-right white">
         <%= render :partial => 'communities/admin', :locals => { community: @community } %>
         <div class="center">
           <% if current_user.id == @community.user_id %>
              <div class="center">
                <%= link_to "編集", edit_community_path(@community.id), class: 'owner-btn btn btn-default btn-hover' %>
                <%= link_to "削除", community_path(@community.id), class: 'owner-btn btn btn-default btn-hover', method: :delete %>
              </div>
            <% elsif !@community.join_community_users.include?(current_user) %>
              <%= link_to "参加", join_communities_path(:user_id => current_user.id, :community_id => params[:id]), class: 'join-btn btn btn-default btn-hover', method: :post %>
            <% else %>
              <%= link_to "参加中", join_community_path(:user_id => current_user.id, :community_id => params[:id]), class: 'join-btn btn btn-info btn-hover', method: :delete %>
            <% end %>
         </div>
          <p class="join-member title">参加メンバー</p>
          <p class="join-member-count"><%= @community.join_communities.count %>人</p>
          <div class="member">
            <% @community.join_communities. first(3). each do |community| %>
              <div class ="bottom-border">
                <%= link_to user_path(:id => community.user_id), class: 'user-name'  do %>
                  <%= image_tag community.user.image.url, class: "join-user-image" %>
                  <p class="font-gray inline"><%= community.user.name %></p>
                <% end %>
              </div>
            <% end %>
            <div class="plus-member">
              <% if @community.join_communities.count > 3 %>
                <%= link_to "さらに表示", community_join_communities_path(:community_id => params[:id]), class: 'btn font-gray center' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

