<div class="community-show-wrapper">
  <div class="container">
    <div class="row">
      
      <div class="col-md-offset-3 col-md-6">
        <div class="show-container background-color">
          <h2 class="text center"><%= @community.title %></h2>
          <div class="content-container">
            <% @community.posts. each do |post| %>
              <div class="post-screen">
                <p class="user-name"><%= post.user.name %>    <%= post.updated_at %></p>
                <p class="content"><%= post.content %></p>
              </div>
            <% end %>
            
          </div>
          
        </div>
        <div class="post-container">
          <%= form_for @post,:url => {controller: "posts", action: "create" } do |f| %>
            <div class="form-group"> 
              <%= f.text_area :content, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.hidden_field :user_id, :value => current_user.id %>
            </div>
            <div class="form-group">
               <%= f.hidden_field :community_id, :value => @community.id %>
            </div>
            <%= f.submit '投稿', class: 'btn btn-black btn-block' %>
          <% end %>
        </div>
      </div>
     
      <div class="col-md-3">
        <div class="show-container-right">
          <%= image_tag @community.image.url, class: 'show-image' %>
          <div class="community-description">
            <p class="owner center">管理者：<%= @community.user.name %></p>
            <p class="description title">説明</p>
            <p class="description"><%= @community.description %></p>
          </div>
          <div class="join-member">
            <p class="member title">参加者一覧</p>
          </div>
        </div>
      </div>
    
  </div>
</div>