<!DOCTYPE html>
<html>
  <head>
    <title>MSearch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-fixed-top">
      <div class="container" >
        <div class="navbar-left">
          <%= link_to "M-Search", root_path, class: 'navbar-white' %>
        </div>
        <div class="navbar-right">
          <ul>
            <% if logged_in? %>
              <li>
                <%= link_to "マイページ", user_path(id: current_user.id), class: 'navbar-white' %>
              </li>
              <li>
                <%= link_to "コミュニティ", communities_path, class: 'navbar-white' %>
              </li>
              <li>
                <%= link_to "ログアウト", logout_path, class: 'navbar-white', method: :delete %>
              </li>
            <% else %>
              <li>
                <%= link_to "サインイン", new_user_path, class: 'navbar-white' %>
              </li>
              <li>
                <%= link_to "ログイン", login_path, class: 'navbar-white' %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
    <% end %>
    
    <%= yield %>
    
    <script>
      $(function(){
        $(".alert").fadeOut(5000);
      });
    </script>
  </body>
</html>
